{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3 class="text-center mt-5 mb-5">Оформлення замовлення</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Найменування</th>
            <th scope="col">Зображення</th>
            <th scope="col">Ціна</th>
            <th scope="col">Кількісь</th>
            <th scope="col">Загальна вартість</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart.products.all %}
            <tr>
                <th scope="row">{{ item.content_object.title }}</th>
                <td class="w-25"><img src="{{ item.content_object.image.url }}" class="img-fluid"></td>
                <td>{{ item.content_object.price }} грн</td>
                <td>  {{ item.quantity }}</td>
                <td>{{ item.final_price }} грн</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"></td>
            <td>Всього:</td>
            <td>{{ cart.total_products }}</td>
            <td><strong>{{ cart.final_price }} грн</strong></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h3 class="text-center mt-5 mb-5">Форма замовлення</h3>
    <form action="{% url 'make_order' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success btn-block mb-3" value="Оформити замовлення">
    </form>
{% endblock content %}