<table class="table">
    <tbody>
    <tr>
        <td>Діагональ</td>
        <td>{{ product.diagonal }}</td>
    </tr>
    <tr>
        <td>Тип дисплея</td>
        <td>{{ product.display_type }}</td>
    </tr>
    <tr>
        <td>Розширення екрану</td>
        <td>{{ product.resolution }}</td>
    </tr>
    <tr>
        <td>Об'єм батареї</td>
        <td>{{ product.accum_volume }}</td>
    </tr>
    <tr>
        <td>Оперативна пам'ять</td>
        <td>{{ product.ram }}</td>
    </tr>
    <tr>
        <td>Слот для карт пам'яті</td>
        <td>{{ product.sd }}</td>
    </tr>
    <tr>
        <td>Максимальний об'єм карти пам'яті</td>
        <td>{{ product.sd_volume_max }}</td>
    </tr>
    <tr>
        <td>Головна камера</td>
        <td>{{ product.main_cam_mp }}</td>
    </tr>
    <tr>
        <td>Фронтальна камера</td>
        <td>{{ product.frontal_cam_mp }}</td>
    </tr>
    </tbody>
</table>